services:
  - type: web
    name: notes-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn notes_project.wsgi:application
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: notes-db
          property: connectionString

databases:
  - name: notes-db
