# Python
*.pyc
__pycache__/

# Virtual environments
venv/
ENV/

# Django specific
db.sqlite3

# VSCode settings
.vscode/

# Environment variables
.env

# OS generated
.DS_Store
Thumbs.db
