# Python cache files
__pycache__/
*.pyc

# Virtual environment folder
venv/

# SQLite database file
db.sqlite3

# Django migrations (optional but recommended)
*/migrations/*.pyc
*/migrations/*.py

# Environment variables file
.env
